@import "abstracts/variables";

.product-details {
    &__back {
        color: $primary;
        cursor: pointer;
        margin-bottom: 4rem;
    }
    &__title {
        color: $text-color;
    }
    &__category {
        color: $text-color;
    }
    &_description {
        color: $text-light;
    }
}
